body {
    background-color : white;
    margin: 0;
    padding: 0;
}
h1 {
    color : #000000;
    text-align : center;
    font-family: "SIMPSON";
}


label{
    font-family: "Times New Roman";
    font-size: 130%;
    display: inline;
}

.child{
    font-family: "Times New Roman";
    font-size: 100%;
    font-style: normal;
}

.clause{
    margin-bottom: 20px;
    clear: both;
}

div{
    display: block;
}